<nav
  role="navigation"
  id="main-menu"
  class="mt-1 md:mt-2 mx-2 w-4/5 overflow-auto bg-gray-50 p-2"
  x-data="docTreeController()"
  data-turbo-permanent
  @turbo:before-render.window="onBeforeRender()"
  x-cloak>
  <ul class="p-0 border-l border-gray-200">
    {{ $root := site.GetPage "documentation" }}
    {{ template "docs-explorer-section" (dict "p" $root "level" 1 ) }}
  </ul>
</nav>

{{ define "docs-explorer-section" }}
  {{ $p := .p }}
  {{ $level := .level }}
  {{ $pleft := add .level 1 }}

  {{ $pl := printf "pl-%d" $pleft }}
  {{ $plCurrent := printf "pl-%d" (sub $pleft 2 ) }}
  {{ $pages := ($p.Pages | union $p.Sections).ByWeight }}

  {{ range $pages }}
    {{ $hasChildren := gt (len .Pages) 0 }}
    {{ $class := cond (eq $level 1) "text-black hover:text-gray-900" "text-gray-600 hover:text-gray-500" }}
    <li class="w-full">
      {{ if $hasChildren }}
        <a
          @click.prevent="toggleNode('{{ .RelPermalink }}')"
          :class="{ 'font-semibold border-l-2': isCurrent('{{ .RelPermalink }}') }"
          class="block cursor-pointer {{ $pl }} {{ $class }} tracking-tight {{ if eq $level 1 }}
            leading-7
          {{ else }}
            leading-6 text-sm
          {{ end }} hover:bg-gray-100">
          <span :class="{ 'pl-2px': !isCurrent('{{ .RelPermalink }}') }"
            >{{ .LinkTitle }}</span
          >
        </a>
        <ul class="" x-show="isOpen('{{ .RelPermalink }}')">
          {{ template "docs-explorer-section" (dict "p" . "level" (add $level 1)) }}
        </ul>
      {{ else }}
        <a
          class="block box-content cursor-pointer {{ $pl }} text-sm text-gray-700 hover:text-gray-600 tracking-tight leading-6 hover:bg-gray-100 truncate"
          :class="{ 'font-semibold border-l-2': isCurrent('{{ .RelPermalink }}') }"
          href="{{ .RelPermalink }}"
          ><span :class="{ 'pl-2px': !isCurrent('{{ .RelPermalink }}') }"
            >{{ .LinkTitle }}</span
          ></a
        >
      {{ end }}
    </li>
  {{ end }}

{{ end }}
