<div class="bg-white relative" x-data>
  <button
    @click="$dispatch('open-search')"
    type="button"
    class="hidden w-full lg:flex text-gray-600 dark:text-gray-400 items-center text-sm leading-6 border border-gray-100 shadow-sm py-1 pl-2 pr-3">
    <svg
      width="24"
      height="24"
      fill="none"
      aria-hidden="true"
      class="mr-3 flex-none">
      <path
        d="m19 19-3.5-3.5"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <circle
        cx="11"
        cy="11"
        r="6"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"></circle></svg
    >Search the Docs<span class="ml-auto pl-3 flex-none text-xs font-semibold"
      >⌘K</span
    >
  </button>
</div>
