{
    "overrides": [
      {
        "files": ["*.html"],
        "options": {
          "parser": "go-template"
        }
      },
      {
        "files": ["*.js", "*.ts"],
        "options": {
          "useTabs": true,
          "printWidth": 120,
          "singleQuote": true,
          "spaceBeforeFunctionParen": false
        }
      }
    ],
    "goTemplateBracketSpacing": true,
    "bracketSameLine": true
  }