<header class="flex-none w-full">
  <h1 class="text-2xl font-semibold leading-tight mb-3 my-0 text-black">
    {{ .Title }}
  </h1>
</header>

<div class="mt-2 md:mt-4 prose lg:prose-lg" id="prose">
  {{ with .Params.description }}
    <div class="text-lg leading-relaxed">
      {{ . | $.RenderString }}
    </div>
  {{ end }}

  {{ partial "tags.html" . }}


  <div class="mt-4">
    {{ .Content }}
  </div>

  <hr />
  {{ with .File }}
    <div class="mt-8">
      <a
        href="{{ path.Join site.Params.ghrepo `edit/master/content` .Lang .Path }}"
        class="inline-flex items-center">
        <span class="mr-2">Edit this file on GitHub</span>
        {{ partial "svg/link-ext.svg" (dict "fill" "#333" "size" "14") }}
      </a>
    </div>
  {{ end }}

  {{ if .Lastmod }}
    <div class="mt-4 text-gray-300 text-sm">
      Last updated:
      {{ .Lastmod.Format "January 2, 2006" }}{{ with .GitInfo }}
        :
        <a href="{{ site.Params.ghrepo }}commit/{{ .Hash }}"
          >{{ .Subject }} ({{ .AbbreviatedHash }})</a
        >
      {{ end }}
    </div>
  {{ end }}
</div>

{{ define "toc" }}
  {{ $tocPartial := "" }}
  {{- partial "sections/nav/toc.html" (dict "p" . "partial" $tocPartial ) -}}
{{ end }}
