<header class="flex-none w-full">
  {{ $categories := .GetTerms "categories" }}
  <div class="mb-2">
    {{ range $categories }}
      <a
        href="{{ .RelPermalink }}"
        class="text-sm tracking-tight mb-0 text-green-600 hover:text-green-500">
        {{ .Title | upper }}
      </a>
    {{ end }}
  </div>

  <h1 class="text-2xl font-semibold leading-tight mb-3 my-0 text-black">
    {{ .Title }}
  </h1>
</header>

<div class="mt-2 md:mt-4 prose lg:prose-lg" id="prose">
  {{ with .Params.description }}
    <div class="text-lg leading-relaxed mb-5">
      {{ . | $.RenderString }}
    </div>
  {{ end }}

  {{ $tags := .GetTerms "tags" }}
  {{ range $tags }}
    {{ $color := partial "helpers/funcs/color-from-string" .LinkTitle }}
    {{ $class := printf "text-%s-%d bg-%s-%d border border-%s-%d shadow-md" $color.color $color.shade1 $color.color $color.shade2 $color.color  $color.shade1 }}
    <a
      href="{{ .RelPermalink }}"
      class="{{ $class }} text-xs font-semibold no-underline inline-block py-1 px-2 uppercase rounded-full uppercase last:mr-0 mr-1 hover:opacity-75 hover:shadow-none">
      {{ .LinkTitle | upper }}
    </a>
  {{ end }}


  <div class="mt-4">
    {{ .Content }}
  </div>

  <hr />
  {{ with .File }}
    <div class="mt-8">
      <a
        href="{{ path.Join site.Params.ghrepo `edit/master/content` .Lang .Path }}"
        class="inline-flex items-center">
        <span class="mr-2">Edit this file on GitHub</span>
        {{ partial "svg/link-ext.svg" (dict "fill" "#333" "size" "14") }}
      </a>
    </div>
  {{ end }}

  {{ if .Lastmod }}
    <div class="mt-4 text-gray-300 text-sm">
      Last updated:
      {{ .Lastmod.Format "January 2, 2006" }}{{ with .GitInfo }}
        :
        <a href="{{ site.Params.ghrepo }}commit/{{ .Hash }}"
          >{{ .Subject }} ({{ .AbbreviatedHash }})</a
        >
      {{ end }}
    </div>
  {{ end }}
</div>

{{ define "toc" }}
  {{ $tocPartial := "" }}
  {{- partial "toc.html" (dict "p" . "partial" $tocPartial ) -}}
{{ end }}
