/* mulish-200 - latin */
@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 200;
    src: local(''),
         url('../fonts/mulish-v10-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/mulish-v10-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* mulish-regular - latin */
  @font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/mulish-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/mulish-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* mulish-800 - latin */
  @font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    src: local(''),
         url('../fonts/mulish-v10-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/mulish-v10-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* mulish-italic - latin */
  @font-face {
    font-family: 'Mulish';
    font-style: italic;
    font-weight: 400;
    src: local(''),
         url('../fonts/mulish-v10-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/mulish-v10-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* mulish-800italic - latin */
  @font-face {
    font-family: 'Mulish';
    font-style: italic;
    font-weight: 800;
    src: local(''),
         url('../fonts/mulish-v10-latin-800italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/mulish-v10-latin-800italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }